<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="../index.html" class="navbar-brand">Programador Web</a>
            <ul class="navbar-nav">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/galeria.html">Galería</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <section class="aviso-legal">
        <div class="container">
            <h2>Aviso Legal</h2>
            <p>Este sitio web es propiedad de Programador Web.</p>
            <p>Dirección: Calle Ficticia 123, Ciudad, País</p>
            <p>Correo electrónico: contacto@programadorweb.com</p>

            <h3>Propiedad Intelectual</h3>
            <p>Todos los contenidos de este sitio web, incluyendo textos, gráficos, imágenes, logotipos y software, son
                propiedad de Programador Web o de sus licenciantes y están protegidos por las leyes de propiedad
                intelectual.</p>

            <h3>Condiciones de Uso</h3>
            <p>El uso de este sitio web implica la aceptación de los términos y condiciones aquí descritos. Si no está
                de acuerdo con estos términos, le rogamos que no utilice este sitio.</p>

            <h3>Protección de Datos</h3>
            <p>Programador Web se compromete a proteger la privacidad de sus usuarios. Cualquier información personal
                recopilada se utilizará exclusivamente para los fines establecidos en nuestra política de privacidad.
            </p>

            <h3>Exclusión de Responsabilidad</h3>
            <p>Programador Web no se responsabiliza por cualquier daño o pérdida derivada del uso de este sitio web o de
                la información contenida en él.</p>

            <h3>Jurisdicción</h3>
            <p>Este aviso legal se regirá e interpretará de acuerdo con las leyes del país en el que se encuentra la
                empresa.</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Programador Web. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>