<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Leaflet CSS para cargar el mapa -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
</head>

<body>

    <nav class="navbar">
        <div class="container">
            <ul class="navbar-nav">
                <li><a href=".././index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html" class="active">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <section class="contacto">
        <div class="container"><br>
            <h2>Contacto</h2>
            <p>Encuentra nuestra ubicación en el mapa y cómo llegar desde donde te encuentras.</p>
            <div id="map"></div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Programador Web. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Cargar la librería Leaflet para mapas -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../js/script.js"></script>

</body>

</html>